body {
    margin:0;
    padding:0;
    background: #C2E7D9;

}
.name {
    width: 100%;
    height: 300px;
    background: #26408B;
    transform: skewY(-5deg);
}
.name .content{
    width: 50%;
    height: 50%;
    position: absolute;
    left:25%;
}
.name .content .t-1{   
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    font-size: 50px;
    transform: skewY(5deg);
    color: #F7FFF7
}
.name .content .p-1{   
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    transform: skewY(5deg);
    margin-top: 0;
    margin-bottom: 0;
    color: #F7FFF7
}

.name .imagen{
    position: absolute;
    top: 18%;
    right: 5%;
    width: 180px;
    height: 180px;
    transform: skewY(5deg);
    overflow: hidden;
}

.name .imagen img {
    width: 140px;
    height: 280px;
}

.info {
    width: 90%;
    height: auto;
    background: #5386E4;
    margin:5% auto;
    padding: 20px;
    border-radius: 20px;
}

.info .titulo-seccion {
    color: #F7FFF7;
    font-family: 'Open Sans', sans-serif;
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    border-bottom: 6px #F7FFF7 solid;
}

.info .titulo-info {
    color:#F7FFF7;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    font-size: large;
    display: inline;
    margin-right: 20px;
}

.info .info-informacion {
    color:#080708;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: large;
    display: inline;
}

.container-table{
    width: 90%;
    background: white;
    margin: 50px auto;
    box-shadow: 0 0 20px #333;

    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 50px;
}

.table-title{
    grid-column-start: 1;
    grid-column-end: 5;
    background: #26408B;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.8em;

}

.table-header , .table-item{
    display: flex;
    justify-content: center;
    align-items: center;


}

.table-header{
    font-weight: bold;
    font-size: 1.4em;
    background: #5386E4;
}

.table-item{
    padding: 10px;
    font-size: 1.1em;
    background: #FFFBDB;
}